<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>好奇心日报.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF2A8F581DC98230009A3E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF2A8F6C1DC98230009A3E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF2A8F771DC98230009A3E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
